<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
  <link rel="stylesheet" href="/static/templates/dist/bundle.css">
</head>

<body class="mdc-typography">
  <div>
    <header class="mdc-top-app-bar mdc-top-app-bar--fixed mdc-elevation--z4">
      <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
          <button class="home mdc-icon-button material-icons">
            home
          </button>

          <button class="link-button mdc-button  mdc-button--dense">outgoing</button>
          <button class="link-button  mdc-button  mdc-button--dense">incoming</button>
        </section>
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">

          <button class="login-button  mdc-icon-button material-icons">
            person
          </button>


        </section>
      </div>
    </header>

    <main class="mdc-top-app-bar--fixed-adjust">
      <div class="mdc-layout-grid" id="main-content">
        <div id="link-content">
          <div
            class="mdc-text-field mdc-text-field--no-label mdc-text-field--fullwidth mdc-text-field--with-trailing-icon">
            <i class="material-icons mdc-text-field__icon">search</i>
            <input type="search" class="mdc-text-field__input" id="search" style="border-bottom-color: #5f259f;">
            <div class="mdc-line-ripple"></div>
          </div>
          <div class="mdc-text-field-helper-line" id="link">
            <div class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent" aria-hidden="true">
            </div>
          </div>
          <div id="result">
            <div class="mdc-list-group">
              <ul class="mdc-list mdc-list--two-line mdc-list--dense" id="result-list">
              </ul>
            </div>
          </div>


          <div class="manage-items mdc-layout-grid mdc-elevation--z1">
          </div>

        </div>
        <div id="home-page">
          <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
            </div>
          </div>
        </div>
      </div>

      <div>
        <div id="login-dialog" class="mdc-dialog mdc-dialog--scrollable" role="alertdialog" aria-modal="true"
          aria-labelledby="confirmation-dialog-label" aria-describedby="confirmation-dialog-description">
          <div class="mdc-dialog__scrim"></div>
          <div class="mdc-dialog__container">
            <div class="mdc-dialog__surface">

              <section class="mdc-dialog__content">
                <div class="mdc-form-field">
                  <div class="mdc-text-field mdc-text-field--fullwidth">
                    <input id="username" class="mdc-text-field__input" type="text" placeholder="username"
                      aria-label="username" required>
                  </div>
                  <div id="email-feild" class="mdc-text-field mdc-text-field--fullwidth" style="display:none">
                    <input id="username" class="mdc-text-field__input" type="text" placeholder="email"
                      aria-label="email" required>
                  </div>

                  <div class="mdc-text-field mdc-text-field--fullwidth">
                      <input id="password" class="mdc-text-field__input"
                             type="password"
                             placeholder="password"
                             aria-label="password"
                             required>
                    </div>                  
                </div>
              </section>
              <footer class="mdc-dialog__actions">
                <button type="button" class="mdc-button mdc-dialog__button mdc-ripple-upgraded"
                  data-mdc-dialog-action="close"
                  >Cancel</button>
                <button type="button"
                  class="mdc-button mdc-dialog__button--default mdc-ripple-upgraded"
                  id="login">Login</button>
              </footer>
            </div>
          </div>
        </div>
        <div id="register-dialog" class="mdc-dialog mdc-dialog--scrollable" role="alertdialog" aria-modal="true"
          aria-labelledby="confirmation-dialog-label" aria-describedby="confirmation-dialog-description">
          <div class="mdc-dialog__scrim"></div>
          <div class="mdc-dialog__container">
            <div class="mdc-dialog__surface">

              <section class="mdc-dialog__content">
                <div class="mdc-form-field">
                  <div class="mdc-text-field mdc-text-field--fullwidth">
                    <input id="username" class="mdc-text-field__input" type="text" placeholder="username"
                      aria-label="username" required>
                  </div>
                  <div id="email-feild" class="mdc-text-field mdc-text-field--fullwidth">
                    <input id="username" class="mdc-text-field__input" type="text" placeholder="email"
                      aria-label="email" required>
                  </div>

                  <div class="mdc-text-field mdc-text-field--fullwidth">
                      <input id="password" class="mdc-text-field__input"
                             type="password"
                             placeholder="password"
                             aria-label="password"
                             required>
                    </div>                  
                </div>
              </section>
              <footer class="mdc-dialog__actions">
                <button type="button" class="mdc-button mdc-dialog__button mdc-ripple-upgraded"
                  data-mdc-dialog-action="close"
                  >Cancel</button>
                <button type="button"
                  class="mdc-button mdc-dialog__button--default mdc-ripple-upgraded"
                  id="login">register</button>
              </footer>
            </div>
          </div>
        </div>
        
      </div>
      <script type="text/template" id="search-result">
          <li class="searchresultlist mdc-list-item"  data-source="%%source%%">
              <span class="mdc-list-item__text">
                  <span class="item-name mdc-list-item__primary-text">%%name%%</span>
                  <span class="item-type mdc-list-item__secondary-text">%%type%%</span>
              </span>
          </li>
        </script>

      <script type="text/template" id="manage-item">
          <div class="mdc-layout-grid__inner" style="border-bottom:solid 1px #d2d1da">
              <div class="mdc-layout-grid__cell--span-10">
                  <span class="%%typoclass%%">%%name%%</span>          
              </div>
              <div class="mdc-layout-grid__cell--span-2">
                  <div class="%%switchclass%%">
                      <div class="mdc-switch__track" ></div>
                      <div class="mdc-switch__thumb-underlay">
                          <div class="mdc-switch__thumb" >
                              <input type="checkbox" id="%%name%%-switch" class="mdc-switch__native-control" role="switch" %%switchstatus%%>
                          </div>
                      </div>                                            
                  </div>
                  <label class="mdc-typography--caption" for="%%name%%-switch" data-url="%%url%%">%%switch%%</label>
              </div>                  
          </div>  
        </script>

      <script type="text/template" id="home-page">
        </script>
  </div>
  </main>
  </div>
  <script type="text/template" id="home">
    <div id="incoming-card" class="mdc-layout-grid__cell--span-6 mdc-elevation--z5"
    style="background-color:white;cursor:pointer;" href="#">

    <div class="mdc-layout-grid mdc-typography--headline6" style="background-color:#5f259f;color:white;">
        %%source%%
    </div>
    <div class="mdc-layout-grid" style="display:flex;justify-content:space-between">
      <p class="mdc-typography--button">Total %%type1%%:</span>
        <p class="mdc-typography--button">%%type1_count%%</p>
    </div>
    <div class="mdc-layout-grid" style="display:flex;justify-content:space-between">
      <p class="mdc-typography--button">Total %%type2%%</p>
      <p class="mdc-typography--button">%%type2_count%%</p>
    </div>
  </div>
  </script>

  <script type="text/template" id="snackresponse">
  <div class="mdc-snackbar">
    <div class="mdc-snackbar__surface">
      <div class="mdc-snackbar__label"
           role="status"
           aria-live="polite">
        %%statusmessage%%
      </div>
    </div>
  </div>
</script>
  <script src="/static/templates/dist/bundle.js" async></script>
</body>