<!doctype html>
<html>

<head>

  <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
  <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>


  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script type="text/javascript">
    window.mdc.autoInit();
    $(document).ready(function () {
      $('#search').keyup(function () {
        //$('#result').hide()
        //$('#result-list').html('')
        var searchField = $('#search').val();
        console.log(searchField.length)
        var output="";
        var source=$('#link').children().text().trim()
        if (searchField.length >= 2) {
          var regex = new RegExp(searchField, "i");

          $('#result').show()
          
          output = '<ul class="mdc-list mdc-list--two-line">'
          $.getJSON(`/api/${source}/devices`, function (data) {            
            var list=""
            $.each(data.devices, function (key, val) {
              if ((val.search(regex) != -1)) {
                list += `
              <li class="mdc-list-item" onclick="itemClicked('${val}','device','${source}'); return false">
                  <span class="mdc-list-item__text">
                  <span class="mdc-list-item__primary-text">${val}</span>
                  <span class="mdc-list-item__secondary-text">Device</span>
                  </span>
              </li>
              <li role="separator" class="mdc-list-divider"></li>
              `
              }
            });
            output+=list
            $('#result-list').html(output)
          })          
          $.getJSON(`/api/${source}/indicators`, function (data) {            
            var list=""
            $.each(data.indicators, function (key, val) {
              if ((val.search(regex) != -1)) {
                list += `
              <li class="mdc-list-item" onclick="itemClicked('${val}','indicator','${source}'); return false">
                  <span class="mdc-list-item__text">
                  <span class="mdc-list-item__primary-text">${val}</span>
                  <span class="mdc-list-item__secondary-text">Indicator</span>
                  </span>                  
              </li>
              <li role="separator" class="mdc-list-divider"></li>
              `
              }
            });
            output +=list
            output += '</ul>'
            $('#result-list').html(output)
          });
        }
        else {
          console.log("Search field smaller")
          $('#result-list').html('')
          $('#result').hide()
        }
      });
    });
    function toggle(disableObj, e) {
      disableObj=JSON.parse(unescape(disableObj))
      $(`#${e}`).toggleClass('mdc-switch--checked')    
      
      //$(e).toggleClass('mdc-switch--checked')
      if ($(`#${e}`).hasClass('mdc-switch--checked')) {
        $.ajax({
          dataType: 'json',
          url: `/api/splunk/device/${disableObj.device}/indicator/${disableObj.indicator}`,
          type: 'POST',
          success: function (data) {
            console.log(data)
          }
        });

      }
      else {
        $.ajax({
          dataType: 'json',
          url: `/api/splunk/device/${disableObj.device}/indicator/${disableObj.indicator}`,
          type: 'DELETE',
          success: function (data) {
            console.log(data)
          }
        });

      }      
    }
    function linkLoad(link){
      $('#main-content').show()
      $('#search').val("");
      $('#result').hide();
      var output=`<div class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent" aria-hidden="true">${link}
              </div>`
      $('#link').html(output)      
    }
    function toggleall(data, item, type1, type2, arrayList) {
      console.log(typeof (data))
      console.log(unescape(data))
      console.log(JSON.parse(unescape(data)))
      data = JSON.parse(unescape(data))
      $('.toggle-all').toggleClass('mdc-switch--checked');
      if ($('.toggle-all').hasClass('mdc-switch--checked')) {
        $('.switch-items').addClass('mdc-switch--checked');
        /*
        $.each(data[item][arrayList], function (key, value) {
          $.ajax({
            dataType: 'json',
            url: `/api/splunk/${type1}/${item}/${type2}/${value}`,
            type: 'POST',
            success: function (result) {
              console.log(result)
            }
          });
        });
        */
        $.post(`/api/splunk/${type1}/${item}`,function (result) {
              console.log(result)
            });
      }      
      else {
        $('.switch-items').removeClass('mdc-switch--checked');
        $.ajax({
            dataType: 'json',
            url: `/api/splunk/${type1}/${item}`,
            type: 'DELETE',
            success: function (result) {
              console.log(result)
            }
          });
/*
        $.each(data[item][arrayList], function (key, value) {
          $.ajax({
            dataType: 'json',
            url: `/api/splunk/${type1}/${item}/${type2}/${value}`,
            type: 'DELETE',
            success: function (result) {
              console.log(result)
            }
          });
        });*/
      }
    }
    function itemClicked(item, type1,source) {
      $.getJSON(`/api/${source}/${type1}/${item}`, function (data) {
        var arrayList;
        var disableObj = new Object();
        var type2;
        disableObj[type1] = item
        if (type1 == 'device') {
          arrayList = "indicators"
          type2 = "indicator"
        }
        if (type1 == 'indicator') {
          arrayList = "devices"
          type2 = "device"
        }
        var output = ""
        var switchclass=['mdc-switch'];
        if (source=='splunk'){
          switchclass[0]="mdc-switch mdc-switch--checked"
        }
        $("#result-list").html(output)
        passObj = escape(JSON.stringify(data))
        output += `
                  <ul class="mdc-list">
                    <li class="mdc-list-item" style="display:flex;justify-content:space-between;cursor:auto;">
                      <span class="mdc-list-item__text mdc-typography--headline6">${item}</span>          
                        <div class="${switchclass} toggle-all" onclick="toggleall('${passObj}','${item}','${type1}','${type2}','${arrayList}'); return false">
                          <div class="mdc-switch__track" ></div>
                            <div class="mdc-switch__thumb-underlay">
                              <div class="mdc-switch__thumb" >
                              <input type="checkbox" id="basic-switch" class="mdc-switch__native-control" role="switch">
                            </div>
                          </div>                    
                          </div>
                  
                    </li>
                    <h3 class="mdc-list-group__subheader mdc-typography--headline6">${arrayList}</h3>`
        $.each(data[item][arrayList], function (key, value) {          
          if (source=='sevone'){
            var switchclass=["mdc-switch"]
              $.getJSON(`/api/splunk/${type1}/${item}`,function(result){
                if ($.isEmptyObject(result)){
                    console.log(value+" Not enabled in Splunk")
                    switchclass[0]="mdc-switch"
                }
                else{
                  list=result[item][arrayList]
                  if (list.includes(value)){
                    switchclass[0]="mdc-switch mdc-switch--checked"
                  }
                }
                disableObj[type2] = value;
                passObj = escape(JSON.stringify(disableObj))
                   output += `
                    <li class="mdc-list-item" style="display:flex;justify-content:space-between;cursor:auto;">
                        <span class="mdc-list-item__text mdc-typography--subtitle2">${value}</span>
                        <div class="switch-items ${switchclass}" id=${value} onclick="toggle('${passObj}','${value}'); return false">
                              <div class="mdc-switch__track" ></div>
                              <div class="mdc-switch__thumb-underlay">
                                <div class="mdc-switch__thumb" >
                                  <input type="checkbox" id="basic-switch" class="mdc-switch__native-control" role="switch">
                                </div>
                              </div>                    
                            </div> 
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>`
                $("#result-list").html(output)
              })                            
          }
          else{
            switchclass=["mdc-switch mdc-switch--checked"]            
            disableObj[type2] = value;
            passObj = escape(JSON.stringify(disableObj))
            output += `
                    <li class="mdc-list-item" style="display:flex;justify-content:space-between;cursor:auto;">
                        <span class="mdc-list-item__text mdc-typography--subtitle2">${value}</span>
                        <div class="switch-items ${switchclass}" id=${value} onclick="toggle('${passObj}','${value}'); return false">
                              <div class="mdc-switch__track" ></div>
                              <div class="mdc-switch__thumb-underlay">
                                <div class="mdc-switch__thumb" >
                                  <input type="checkbox" id="basic-switch" class="mdc-switch__native-control" role="switch">
                                </div>
                              </div>                    
                            </div> 
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>`
                $("#result-list").html(output)
          }          
        })
        //output += '</ul>'
        
      });
    }
    function home(){
      $('#main-content').hide()
    }
  </script>
</head>

<body class="mdc-typography">
  <div>
    <header class="mdc-top-app-bar mdc-top-app-bar--fixed mdc-elevation--z4" style="top:0px;left:0px;background-color: #5f259f">
      <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
          <button class="mdc-button material-icons mdc-top-app-bar__navigation-icon" onclick="home()">
            home
          </button >

          <button class="mdc-button  mdc-button--dense" style="color:white" onclick="linkLoad('splunk')">splunk</button>
          <button class="mdc-button  mdc-button--dense" style="color:white" onclick="linkLoad('sevone')">sevone</button>
        </section>
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end">
          <button class="mdc-button material-icons mdc-top-app-bar__navigation-icon">
            person
          </button>

        </section>
      </div>
    </header>

    <main class="mdc-top-app-bar--fixed-adjust" style="background-color: #e8e8e8;height: 100vw;">
      <div class="mdc-layout-grid" id="main-content" style="width: 50vw;height:auto;margin-top:10rem;display: none;">
        <div class="mdc-text-field mdc-text-field--no-label mdc-text-field--fullwidth mdc-text-field--with-trailing-icon">
          <i class="material-icons mdc-text-field__icon">search</i>
          <input class="mdc-text-field__input" id="search" style="border-bottom-color: #5f259f;">
          <div class="mdc-line-ripple"></div>
        </div>
        <div class="mdc-text-field-helper-line" id="link">
        </div>
        <div class="mdc-elevation--z1" style="margin-top:3rem;" id="result">
          <div class="mdc-list-group" id="result-list" style="background-color: #ffff;">
          </div>
        </div>
      </div>
    </main>
  </div>
  <script type="text/javascript">
    window.mdc.autoInit();
  </script>
</body>

</html>